# Setting the pass phrase to encrypt the backup files. Will use symmetrical keys in this case.
PASSPHRASE='xxxxx'

# Password for scp or ftp backup-server
FTP_PASSWORD="xxxxxx"

# URL of the Backup-Server
TARGET_DIR='ftp://username@example.myftpbackup.com/'

# Number of last full backups (weekly) to keep
KEEP_LAST_FULL=4

# Numer of full backup to keep incremental backups (daily) for
KEEP_INCREMENTAL=2

# Email_Adresses to send report to
MAIL_TO='reports@example.org'

# Credential to dump mysql db
MYSQL_USER='root'
MYSQL_PASSWORD='xxxxxx'

